footer.mt-10
    p.yellow Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, voluptatibus laborum, rerum voluptatum ad amet ut corporis beatae atque praesentium quae consequuntur voluptatem ea aliquam nesciunt maxime! Odio, fugiat debitis? 
