nav.navbar.navbar-dark.bg-primary.nav-expand
    .container
        a.navbar-brand(href="#") Pug 
        ul.navbar-nav-mr-auto 
            li.nav-item
                a.nav-link(href="#")
                    span Home 
            li.nav-item
                a.nav-link(href="#")
                    span Blog 
            li.nav-item 
                a.nav-link(href="#")
                    span Temp
            li.nav-item
                a.nav-link(href="#")
                    span Profile 
            li.nav-item
                a.nav-link(href="#")
                     span Login 
            li.nav-item 
                a.nav-link(href="#")
                     span Register 