.red { 
    color: red;
    font-size: 35px;

}
.blue{ 
    color: blue;
}

.green { 
    color: green;
}
.yellow { 
    color: yellow;
}
.gray { 
    color: gray;
    font-size: 20px;
}
span{
    color: black;
}
footer{
    background-color: black;
    color: white;
    width: 100%;
}
.mt-10{
    margin-top: 10px;
}